@model ShoppingCartModel


<form method="post">
    <br />
    <div class="">
        <div class="card border mt-4 container">
            <div class="card-header bg-dark text-light ml-0 row ">
                <div class="col-6">
                    <h3 class="text-success"><i class="bi bi-cart"></i> &nbsp; Shopping Cart</h3>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning mt-2 btn-sm">Continue Shopping</a>
                </div>
            </div>
            <div class="card-body">
                <div class=" d-none d-lg-block">
                    <div class="row text-info">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-5">
                            Product Details
                        </div>
                        <div class="col-lg-2">
                            Price
                        </div>
                        <div class="col-lg-2">
                            Count
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
                <hr />

                @foreach (var item in Model.CartItems)
                {
                    <div class="row h-100">
                        <div class="col-4 col-md-2 text-center py-2">
                            <img src="@item.ImageUrl" class="rounded" width="100%" />
                        </div>
                        <div class="col-8 col-md-5">
                            <h5>@item.ProductName</h5>
                            <div style="font-size:11px;">@item.Description</div>
                        </div>
                        <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                            <span style="font-size:17px;">@item.Price.ToString("c") </span>
                        </div>
                        <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                            <span style="font-size:17px;">@item.Quantity</span>
                        </div>
                        <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                            <button type="button" onclick="confirmAndRemove('@item.Id')" class="btn btn-group-sm btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </div>
                    </div>
                }


                <hr />
                <div class="row">
                    <div class="col-6">
                        <span>Coupon:</span>
                        <input />
                        <button type="submit" class="btn btn-sm btn-success" asp-controller="Cart" asp-action="ApplyCoupon"> Apply </button>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-danger" style="font-size:21px;">  Order Total : @Model.CartTotal.ToString("c") <br /></span>
                        <span class="text-success"> Order Discount :  $$</span>
                    </div>
                </div>
            </div>
            <div class="card-footer row">
                <div class="col-6 col-md-3 ">
                    <button type="submit" class="btn btn-outline-danger form-control">Email Cart</button>
                </div>
                @if (Model.CartItems != null && Model.CartItems.Count > 0)
                {
                    <div class="col-6 col-md-3 offset-md-6">
                        <a asp-controller="Cart" asp-action="Checkout" class="btn btn-success form-control ">
                            Checkout
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <script>
        function confirmAndRemove(Id){
            if (confirm('Are you sure you want to remove item from the Cart?' )){
                removeItem(Id);
            }
        }

        function removeItem(Id){
            $.ajax({
                url: '/Cart/Remove',
                data: JSON.stringify(Id),
                contentType: "application/json",
                type: 'DELETE',
                success: function (result){
                    console.log(result.success);
                    location.reload();
                }
            })
        }
    </script>

}            